@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We don't really have a privacy policy, but just to let you know, any data that our bots generate is stored on a private server that nobody but the developer has access to.</p>
